<%= simple_form_for(@local) do |f| %>
   <%= f.error_notification %>

  <div class="field">
    <%= f.input :nombre %><br />
    
  </div>
  <div class="field">
    <%= f.input :direccion %><br />
    
  </div>
  <div class="field">
    <%= f.input :distrito %><br />
    
  </div>
  <div class="field">
    <%= f.input :telf_fijo %><br />
    
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
