<h1>Listing torneos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Cant part</th>
    <th>Local</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torneos.each do |torneo| %>
  <tr>
    <td><%= torneo.nombre %></td>
    <td><%= torneo.cant_part %></td>
    <td><%= torneo.local.nombre %></td>
    <td><%= torneo.fecha %></td>
    <td><%= torneo.hora %></td>
    <td><%= link_to 'Show', torneo %></td>
    <td><%= link_to 'Edit', edit_torneo_path(torneo) %></td>
    <td><%= link_to 'Destroy', torneo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torneo', new_torneo_path %>
